.header-allocate-station {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 
}

.allocstat{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}
  
  .input-box {
    width: 50%;
    text-align: center;
    justify-content: center;
    margin: 10px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    align-items: center;
    /* margin-left: 22vw; */
    margin-top: 15vh;
  }
  
 
  
  
  .form-label {
    font-weight: bold;
  }
  
  .error {
    color: red;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    /* border: 2px solid black; */
  }
  
 
    .table thead th,
.table tbody td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

  
  
.table thead th {
    position: sticky;
    top: 0;
    background-color: #F3F3F3; 
    z-index: 1;
  }
  
  .table tbody td {
    position: relative;
    background-color: white; 
  }

  