.centered-text {
    text-align: center;
}



.form-group select{
    width: 15vw;
}
.firststat{
    margin-top: 16vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}

.jobnameinp{
    width: 20%;
}

.fslist{
    display: flex;
    justify-content: center;
    
}

.fslist h4{
    margin: 30px;
}


.jobsub{
    display: flex;
    flex-direction: column;
    align-items: center;
}