.first_table {
    width:100%;
    text-align: center;
    
}

.jobsub{
    margin-bottom: 12vh;
}
.fslist{
    display: flex;
    
}


.fslist h3{
    margin: 30px;
}


.reasonmodal{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: rgb(219, 219, 219);
    margin-left: 25vw;
    border: 1px solid black;
}
@media (max-width: 768px) {
    .first_table {
        width:40%;
        text-align: center;
        margin-left: 220px;
    }

    
 
    
}

@media (max-width: 480px) {
    .first_table {
        width:50%;
        text-align: center;
        margin-left: 100px;
    }
    
    .fslist{
        display: flex;
        margin-left: 12vw;
        
    }
    
    .fslist h3{
        margin: 25px;
    }
       
    
}