
.form-label {
  margin: 10px;
}


.login{
  margin-left: 35vw;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding: 0; */
  
}

.bg-light-grey {
  background-color: #f4f4f4;
  padding: 20px 20px 20px 20px;
}

.center-container {
  text-align: center;
}

.custom-checkbox-label {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  cursor: pointer;
  color: black;
}

.custom-checkbox {
  display: none;
}

.custom-checkbox-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
  transition: border-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark {
  color: transparent;
}

.custom-checkbox:checked + .custom-checkbox-icon {
  border-color: red;
  background-color: red;
}

.custom-checkbox:checked + .custom-checkbox-icon .checkmark {
  color: white;
}


@media (max-width: 768px) {
  .login {
    margin-left: 120px;
    margin-right: auto;
    width: 80%; 
  }
}


@media (max-width: 480px) {
  .login {
    margin-left: 20px;
    margin-right: auto;
    width: 90%; 
  }
}
